.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 16px;
  
    svg {
      margin-right: 16px;
    }
  
    div {
      flex-grow: 1;
      text-align: left;
  
      h4 {
        color: hsl(223, 47%, 23%);
        font-size: 16px;
        margin-bottom: 4px;
      }
  
      p {
        color: hsl(224, 23%, 55%);
        font-size: 14px;
      }
    }
  
    a {
      color: hsl(245, 75%, 52%);
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
      transition: color 0.3s ease, text-decoration 0.3s ease;
  
      &:hover {
        color: hsl(245, 75%, 62%);
        text-decoration: none;
      }
    }
  }